@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Pacifico&display=swap');
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#d90429;
    --text-color:#020102;
    --bg-color:#fff;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #fff;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.moon{
    font-family: "Pacifico", cursive;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    color: #fff;
}
.moon span{
    font-family: "Pacifico", cursive;
    color: var(--main-color);
}
.navbar{
display: flex;
column-gap: 2rem;

}
.navbar a{
    color: var(--text-color);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    
}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#search-icon{
    font-size: 24px;
    cursor: pointer;
}
.search-box{
    position: absolute;
    top:110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px reb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(46.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text{
    padding-left: 130px;
}
.home-text h1{
    font-size: 2.4rem;
    color: #fff;
}
@media screen and (max-width:991px){
    html{
      font-size: 55%;
    }
   .header{
    padding: 2rem;
   } 
   section{
    padding: 2rem;
   }
}
@media screen and (max-width:768px){
    .active{
        width: 30%;
        float: left;
    }
    
}
@media screen and (max-width:425px){
    .active{
        width: 30%;
        float: left;
    }
    
}